<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">
      メッセージ
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        アカウント <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "ログアウト", logout_path,class: "item", method: :delete, data: { confirm: "本当にログアウトしますか？" } %>
          <% else %>
            <%= link_to "ログイン", login_path, class: "item" %>
            <a class="item">新規作成</a>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
        <div class="item">
            <%= link_to "ログイン", login_path,class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
