<div class="ui small inverted menu">
  <div class="ui container">
    <a class="item">
      Chatroom
    </a>
    <a class="item">
      メッセージ
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        アカウント <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">ログアウト</a>
          <a class="item">ログイン</a>
          <a class="item">新規作成</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
